<div class="container">
  <h3>Shopping Cart</h3>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        <%= pluralize(@beers.size, "Item") %>
      </h5>
    </div>
    <ul class="list-group">
      <% @beers.each do |beer| %>
        <li class="list-group-item">
          <div class="row">
            <p class="col"><%= beer.name %></p>
            <p class="col"><%= beer.size %></p>
            <p class="col">Price: <%= number_to_currency(beer.price) %></p>
            <div class="col">
              <div class="row">
                <div class="col">
                  <%= form_with url: cart_index_path do %>
                    <%= hidden_field_tag(:id, beer.id) %>
                    <%= button_tag "+" %>
                  <% end %>
                </div>
                <div class="col">
                  <%= @beer_quantities[beer.id.to_s] %>
                </div>
                <div class="col">
                  <%= button_to cart_path(beer.id), method: :patch do %>
                    <%= "-"%>
                  <% end %>
                </div>
              </div>
            </div>
            <p class="col">Total: <%= number_to_currency(beer.price * @beer_quantities[beer.id.to_s])%></p>
            <%= button_to cart_path(beer.id), method: :delete do %>
              <%= "Remove Item".pluralize(@beer_quantities[beer.id.to_s]) %>
            <% end %>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <div class="row">
          <p class="col-10 text-right">Subtotal: <%= number_to_currency(@subtotal) %></p>
        </div>
      </li>
    <ul>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Customer Details</h5>
    </div>
    <div class="card-body">
      <%= form_with(url: checkout_index_path, method: :get, local: true) do %>
        <div class=" container row">
          <div class="col-6">
            <%= text_field_tag(:address, current_user[:address], placeholder: "Address", size: 50) %>
          </div>
          <div class="col">
            <%= select_tag(:province, options_from_collection_for_select(@provinces, "id", "name", current_user[:province_id])) %>
          </div>
          <div class="col text-right">
            <%= submit_tag("Checkout") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>