<div class="container">
  <h3>Shopping Cart</h3>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        <%= pluralize(@beers.size, "Item") %>
      </h5>
    </div>
    <ul class="list-group">
      <% @beers.each do |beer| %>
        <li class="list-group-item">
          <div class="row">
            <p class="col"><%= beer.name %></p>
            <p class="col"><%= beer.size %></p>
            <p class="col">Price: <%= number_to_currency(beer.price) %></p>
            <p class="col">Quantity: <%= @beer_quantities[beer.id.to_s] %></p>
            <p class="col">Total: <%= number_to_currency(beer.price * @beer_quantities[beer.id.to_s])%></p>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <div class="row">
          <p class="col-11 text-right">Subtotal: <%= number_to_currency(@subtotal) %></p>
        </div>
      </li>

      <% if @province.pst != 0%>
        <li class="list-group-item">
          <div class="row">
            <p class="col-11 text-right">PST @<%= @province.pst %>%: <%= number_to_currency(@taxes["pst"]) %></p>
          </div>
        </li>
      <% end %>

      <% if @province.gst != 0%>
        <li class="list-group-item">
          <div class="row">
            <p class="col-11 text-right">GST @<%= @province.gst %>%: <%= number_to_currency(@taxes["gst"]) %></p>
          </div>
        </li>
      <% end %>

      <% if @province.hst != 0%>
        <li class="list-group-item">
          <div class="row">
            <p class="col-11 text-right">HST @<%= @province.hst %>%: <%= number_to_currency(@taxes["hst"]) %></p>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <div class="row">
          <p class="col-11 text-right">Total: <%= number_to_currency(@total) %></p>
        </div>
      </li>
    <ul>
  </div>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Customer Details</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <% if current_user.name %>
          <p class="col"><%= current_user.name %></p>
        <% else %>
          <p class="col"><%= current_user.username %></p>
        <% end %>
        <p class="col"><%= current_user.email %></p>
        <p class="col"><%= params[:address] %></p>
        <p class="col"><%= @province.name %></p>
      </div>
    </div>
  </div>
</div>
