<div class="col-4 py-3">
  <div class="card">
    <div class="card-body">
      <% if beer_link %>
        <h5 class="card-title"><%= link_to beer.name, beer %></h5>
      <% else %>
        <h5 class="card-title"><%= beer.name %></h5>
      <% end %>

      <p class="card-text"><%= beer.size %></p>

      <p class="card-text">Price: <%= number_to_currency(beer.price) %></p>

      <% if show_details %>
        <p><%= beer.description %></p>
        <p>Category: <%= link_to beer.subcategory.category.name, beer.subcategory.category %></p>
        <p>Subcategory: <%= link_to beer.subcategory.name, beer.subcategory %></p>
        <p><%= link_to beer.brewer.name, beer.brewer %></p>
        <p>Alchohol Volume: <%= beer.alcohol_vol %>%</p>
        <p><%= beer.quantity %></p>
        <p><%= beer.brewer.country.name %></p>
      <% end %>
    </div>
  </div>
</div>