<!DOCTYPE html>
<html>
  <head>
    <title>KeggerBeerStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="container text-center">
        <h1>Keggers Beer Store</h1>
      </div>

      <ul class="nav nav-tabs nav-fill justify-content-center pb2 pt-4">
        <li class="nav-item"><%= link_to "Beers", beers_path %></li>
        <li class="nav-item"><%= link_to "Brewers", brewers_path %></li>
        <li class="nav-item"><%= link_to "Categories", categories_path %></li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
